<app-header backgroundImage='url("assets/images/contact-bg.jpg")' 
            heading="Contact Me" 
            subHeading="Have questions? I (may) have answers." 
            [siteHeading]="true"></app-header>

<p>contact works!</p>
