<app-header backgroundImage='url("assets/images/about-bg.jpg")' 
            heading="About Me" 
            subHeading="This is what I do." 
            [siteHeading]="true"></app-header>

<p>about works!</p>
