footer {
    padding: 30px 0 35px;
}
  
footer .list-inline {
    margin: 0;
    padding: 0;
}
  
footer .copyright {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 0;
    text-align: center;
}

fa-icon {
    color: black;
}