<hr/>
<footer>
    <div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<ul class="list-inline text-center">
					<li class="list-inline-item" *ngFor="let media of socialMediaList">
						<a [href]="media.url">
							<fa-stack size="lg">
								<fa-icon [icon]="['fas', 'circle']" stackItemSize="2x"></fa-icon>
								<fa-icon [icon]="['fab', media.icon]" [inverse]="true" stackItemSize="1x"></fa-icon>
							</fa-stack>
						</a>
					</li>
				</ul>
				<p class="copyright text-muted">Copyright &copy; {{websiteName}} 2017-{{currentYear}}</p>
			</div>
		</div>
	</div>
</footer>