<app-navigation></app-navigation>

<header class="masthead" [style.background-image]="safeBackgroudImage">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ng-container *ngIf="siteHeading; else postHeading">
                    <div class="site-heading">
                        <h1>{{heading}}</h1>
                        <hr class="small"/>
                        <span class="subheading">{{subHeading}}</span>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</header>
<ng-template #postHeading>
    <div class="post-heading">
        <h1>{{heading}}</h1>
        <h2 class="subheading">{{subHeading}}</h2>
        <span class="meta">{{meta}}</span>
    </div>
</ng-template>