<app-header backgroundImage='url("assets/images/home-bg.jpg")' 
            heading="Nerd on the Move" 
            subHeading="Travelling, volunteering and IT projects." 
            [siteHeading]="true"></app-header>

<p>post-list works!</p>